# Virtual Environments
.venv/

# Package Output
*.log

# Python Artifacts
__pycache__/
*.pyc
*.pyd
*.pyo

# Tools
.pytest_cache/
.ruff_cache/
.mypy_cache/
.git/
.gitignore

# Packaging artifacts
*.egg-info/

# Build
.coverage
dist/
build/

# OS
.DS_Store
